<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-inverse bg-primary">
  
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DePaul Depot</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Store</a></li>
      <li><a href="#">home</a></li>
      <li><a href="#">help</a></li>
      <li><a href="#">about</a></li>
      
      <% if session[:user_id] %>
     <ul>
     <li><%= link_to 'Orders', orders_path %></li>
     <li><%= link_to 'Products', products_path %></li>
     <li><%= link_to 'Users', users_path %></li>
     </ul>
     
     <%= button_to 'Logout', logout_path, method: :delete %>
      <% end %>

      
      
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
